$bw-100: #FFFFFF;
$bw-200: #C9C9C9;
$bw-300: #9A9A9A;
$bw-400: #494949;
$bw-500: #282828;
$bw-600: #000000;

$alert: #FF5A44;

$breakpoint: 500px;
$breakpoint-title: 928px;
$breakpoint-title-larger: 1500px;
$container: 728px;
$smoll: 428px;